@font-face {
    font-family: BankGothic;
    src: url(assets/font/BankGothicBold.ttf);
  }
@font-face {
    font-family: Beckett;
    src: url(assets/font/Beckett.ttf);
  }
@font-face {
    font-family: Aharoni;
    src: url(assets/font/Aharoni.ttf);
  }

body{
    margin: 0;
    font-family: Aharoni;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.bg{
    position: fixed;
    /* display: ba; */
    background: #fffac8;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg > img{
    position: absolute;
}

.bg > .bg1{
    bottom: -10%;
    right: -10%;
    width: 120%;
    /* left: 0; */
    /* transform: scale(1); */
}

.bg > .bg2{
    /* transform: scale(0.8); */
    width: 100%;
    right: 0;
    /* width: 100vw; */
    bottom: 0;
}

.char{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    /* bottom: -; */
}

.me{
    transform: translateZ(-10);
    position: absolute;
    width: 100vh;
    right: -5%;
    bottom: -30%;
}

.mylogo{
    position: absolute;
    bottom: 30px;
    right: 30px;
}


.content{
    width: 50%;
    /* height: 100vh; */
    /* transform: skew(-20deg);  */
    /* background: black; */
    color: white;
    z-index: 1;
    position: fixed;
    left: 100px;
    top: 100px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.blak {
    transform: skew(20deg); 
    position: absolute;
    left: -50%;
    width: 120%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 98%, rgba(0,212,255,0) 100%);
    opacity: 0.95;
    transition: all ease-in-out 0.4s;
}
.blak.off{
    opacity: 0;
    transform: translateX(-50%);
}
.isi{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.isi::-webkit-scrollbar {
    display: none;


  }

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 20px;
    margin-bottom: 20px;

}
.ctn{
    position: absolute;
    transition: all ease-in-out 0.4s;
    opacity: 1;
}
.ctn.off{
    transform: translateX(-150%);
    opacity: 0;
}

.btn{
    font-size: 2rem;
    display: inline;
    border: none;
    background: none;
    font-family: BankGothic;
    color: rgb(192, 192, 192);
    cursor: pointer;
    transition: transform ease-in-out 0.4s;
    padding: 0;
    display: flex;
    transform: translateX(-30px);

}


.btn.off{
    transform: translateX(-200%);
}

.btn:hover::before{
    opacity: 1;
}
.btn::before{
    content: '';
    background: url('assets/images/arrow.png');
    background-size: 30px 50px;
    display: inline-block;
    width: 30px; 
    height: 50px;
    opacity: 0;
}
.btn:hover{
    color: white;
}
p{
    color: rgb(192, 192, 192);
    font-size: 1.2rem;
    line-height: 30px;
}
.Title{
    font-family: Beckett;
    font-size: 4rem;
}


.loading{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    z-index: 100;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

.loading.off{
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
}

.loadingcontent{
    text-align: center;
}

.bglbar{
    width: 200px;
    height: 5px;
    background: rgb(82, 82, 82);
    margin-top: 20px;
    overflow: hidden;
    /* transform: translate(1,1); */
}

.lbar{
    background: white;
    width: 100%;
    height: 10px;
}
.skill{
    width: 80%;
}
.contact{
    width: 80%;
}
.skillitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillttl{
    font-family: BankGothic;
    font-size: 2rem;
    color: rgb(192, 192, 192);
}

.skilltbar{
    width: 200px;
    height: 10px;
    background: rgb(82, 82, 82);
    overflow: hidden;
}

.skillbarfull{
    background: white;
    height: 10px;
}


@media only screen and (max-width:768px){

    .bg{
        /* top:0; */
        width: 100%;
        position: absolute;
        overflow: hidden;
        overflow: hidden;
        /* bottom: 5px; */

    }
    .bg > img{
        /* position: absolute; */
        margin-bottom: 80px;
    }
    .char{
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    .me{
        left: 0;
        right: 0;
        position: absolute;
        right: 100%;
        width: 100%;
        bottom: -10px;
    }
    .mylogo{
        z-index: 20;
    }
    .content{
        top:100vh;
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        background: black;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
        z-index: 10;
        left: 0;
        bottom: 0;
        height: 100vh;
        overflow: auto;
    }
    p{
        padding-right: 30px;
    }
    .blak{
        transform: skewY(10deg);

        /* transform: none; */
        background: rgb(0,0,0);
        width: 200%;
        height: 200px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,212,255,0) 100%);
        bottom: -50px;
        opacity: 1;
        z-index: 2;
    }
    .skillttl{
        flex: 2;
    }
    .skilltbar{
        flex: 1;
    }

}